<div id="loginForm" class="modal fade" role="dialog">
    <div class="modal-dialog modal-custom">
        <div class="modal-content">
            <div class="modal-body content-form">
                <button data-dismiss="modal" class="close">&times;</button>

                <ul class="nav nav-tabs login-tab-nav">
                    <li class="nav-item">
                        <a class="nav-link active" data-toggle="tab" href="#tabLogin" aria-controls="tabLogin" role="tab">Login.ToString().ToUpper()</a>
                    </li>
                </ul>

                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="modalForm">
                            <!--fill form here-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
