<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ContainerQr</title>
    <script src="~/vendors/jquery/dist/jquery.min.js"></script>
    <!-- CSS --> 
    <link href="~/dist/css/style.css" rel="stylesheet" type="text/css" />

    <!-- custom css file -->

</head>
<body>

    @RenderBody()

    <!-- jQuery -->
   
    @await Html.PartialAsync("_ValidationScriptsPartial")
    <!-- Bootstrap Core JS -->
    <script src="~/vendors/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <!-- FeatherIcons JS -->
    <script src="~/dist/js/feather.min.js"></script>

    <!-- Init JS -->
    <script src="~/dist/js/init.js"></script>
    <!-- Simplebar JS -->




</body>
</html>






