@using VSP_HealthExam.Web.ViewModels
@model ChangePasswordViewModel
<form asp-action="ChangePasswordAdmin" asp-controller="Account" method="Post">
	<div class="row">
		<div class="col-5 offset-3 mt-2">
			<div class="card">
				<div class="card-body">
					<div class="form-group">
						<span class="input-affix-wrapper">
							<span class="input-prefix"><i class="fas fa-key text-secondary"></i></span>
							<input type="password" class="form-control" asp-for="OldPassword" placeholder="Old Password" />
						</span>
						<span asp-validation-for="OldPassword" class="text-danger"></span>
					</div>
					<div class="form-group">
						<span class="input-affix-wrapper">
							<span class="input-prefix"><i class="fas fa-key text-success"></i></span>
							<input type="password" class="form-control" asp-for="NewPassword" placeholder="New Password" />
						</span>
						<span asp-validation-for="NewPassword" class="text-danger"></span>
					</div>
					<div class="form-group">
						<span class="input-affix-wrapper">
							<span class="input-prefix"><i class="fas fa-key text-success"></i></span>
							<input type="password" class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password" />
						</span>
						<span asp-validation-for="ConfirmPassword" class="text-danger"></span>
					</div>
					<div asp-validation-summary="ModelOnly" class="text-danger"></div>
				</div>
				<div class="card-footer">
					<button type="submit" class="btn btn-primary">Save</button>
				</div>
			</div>
		</div>
	</div>
</form>